header{
   .displayFlex(space-evenly, center);
   h1{
       font-size: 10rem;
       text-shadow: 4px 4px 4px #aaa;
       margin-top: 1%;
       padding: 1%;
   }
}
.main-section-wrapper{
    border: 2px ridge @nav-bg;
    margin: 1% 5%;
    padding: 2%;
    background-color: @style-bg;
    .mission{
        .displayFlexColumn(flex-start,flex-start);
        margin-bottom: 2.5%;
        h2{
            font-size: 5rem;
            margin-bottom: 1%;
        }
        p{
            font-size: 2.5rem;
            text-align: center;
            padding-bottom: 2%;
            border-bottom: 1px dashed @nav-bg;
        }
    }
}
