.about-wrapper{
    header{
    .displayFlex(space-evenly, center);
    flex-flow: wrap;
    h1{
        font-size: 10rem;
        text-shadow: 4px 4px 4px #aaa;
        margin-top: 1%;
        padding: 1%;
    }
    }
    .main-section-wrapper{
        border: 2px ridge @nav-bg;
        margin: 1% 5%;
        padding: 2%;
        background-color: @style-bg;
        .mission{
            .displayFlexColumn(flex-start,center);
            margin-bottom: 2.5%;
            h2{
                align-self: flex-start;
                font-size: 5rem;
                margin-bottom: 1%;
            }
            p{
                font-size: 2.5rem;
                text-align: center;
                padding-bottom: 2%;
                border-bottom: 1px dashed @nav-bg;
            }
        }
        .features{
            .displayFlexColumn(flex-start,center);
            margin-bottom: 2.5%;
            h2{
                align-self: flex-start;
                font-size: 5rem;
                margin-bottom: 1%;
            }
            p{
                font-size: 2.5rem;
                text-align: center;
                padding-bottom: 2%;
            }
            .featureLists{
                .displayFlex(space-evenly, center);
                width: 100%;
                h4{
                    font-size: 3rem;
                    padding-top: 1%;
                    margin: 0 1%;
                }
                ul{
                    margin: 1% 1%;
                    width: 20%;
                    li{
                        font-size: 2rem;
                        list-style-type: square;
                    }
                }
            }
        }
    }
    .comingSoon{
        .displayFlexColumn(flex-start, flex-end);
        margin-right: 12%;
        h2{
            font-size: 5rem;
            margin-top: 5%;
        }
        ul{
            margin-top: 2%;
            li{
                font-size: 2.5rem;
                list-style-type: square;
            }
        }
    }
}