.home-wrapper{
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5%;
    h1{
        @media @mobile {
            align-self: flex-start;
        }
        margin-top: 1%;
        padding: 1%;
    }
    }

    .stylists{
        display: flex;
        flex-direction: column;
        margin: 1% 1%;
        .sectionTitle{
            @media @mobile{
                align-self: center;
                margin: 5%;
            }
            margin-bottom: 1%;
        }
        .hairProfessional{
            @media @mobile{
                margin-bottom: 5%;
            }
            display: flex;
            padding: 1%;
            .profilePic{
                @media @mobile{
                    display: none;
                }
                flex-shrink: 0;
                text-align: center;
                border: 1px solid black;
                width: 10%;
            }
            .stylistContainer{
                margin: 0 1%;
                align-self: flex-start;
                h3{
                    @media @mobile {
                        margin-bottom: 2%;
                    }
                    margin-left: 1%;
                }
                p{
                    @media @mobile {
                        margin-bottom: 1%;;
                    }
                    padding: 1%;
                }
                button{
                    @media @mobile{
                        width: 48%;
                    }
                    margin: 0 1%;
                }
                a{
                    @media @mobile{
                        width: 48%;
                    }
                    text-decoration: none;
                }
            }
        }
    }

    .reviews{
        display: flex;
        flex-direction: column;
        h2{
            align-self: center;
            margin: 2%;
        }
        .reviewInput{
            display: flex;
            flex-direction: column;
            margin-left: 1%;
            h3{
                @media @mobile{
                    margin: 3% 0;
                }
                margin: 1% 0;
            }
            .reviewForm{
                display: flex;
                flex-direction: column;
                input {
                    @media @mobile{
                        align-self: center;
                        width: 90%;
                        border: 1px inset darkslategray;
                    }
                    width: 20%;
                }
                textarea{
                    @media @mobile{
                        align-self: center;
                        width: 90%;
                        height: 10vh;
                        border: 1px inset darkslategray;
                        margin: 2%;
                    }
                    margin: 1% 1% 1% 0;
                    height: 15vh;
                }
                #submitHere{
                    @media @mobile{
                        width: 20%;
                        margin-bottom: 5%;
                    }
                    width: 10%;
                    margin-bottom: 1%;
                }
            }
        }
    }
    .userReviews{
        display: flex;
        flex-direction: column;
        h3{
            @media @mobile{
                margin: 5%;
            }
            align-self: flex-end;
            margin: 2%;
        }
        .hc3User{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            margin-left: 1%;
            h4{
                @media @mobile{
                    align-self: center;
                    margin: 3%;
                }
                align-self: flex-start;
                margin: 1% 1% 1% 5%;
            }
            p.pastReview{
                @media @mobile{
                    margin-bottom: 2%;
                }
                padding: 1%;
            }
        }
    }
    .hairCarePro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 4%;
        h3{
            margin: 2% 0;
        }
        .sectionSignIn{
            @media @mobile{
                border: 1px outset darkslategray;
            }
        }

    }
}